main {
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: solid steelblue;
  font-size: 30px;
}
header {

}

nav > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border: solid steelblue;

}

footer {
  border: solid steelblue;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
