@import-normalize; /* bring in normalize.css styles */
/* rest of app styles */
html,
body {
  font-family: arial, sans-serif;
}
body {
  box-sizing: border-box;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid steelblue;
}
